/* this css file will only style the homepage of our site */
body{
  background-color: rgb(239, 196, 252);
}
.dog-photo {
  margin: 8px;
  max-width: 200px;
  border: groove;
  border-color: rgb(208, 41, 206);
  
  border-width: .5cm;
}

