/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #d20baa;
   
    background-color: hwb(286 80% 0%);
    font-family: 'Franklin Gothic Medium', 'Arial Nar', Arial, sans-serif;
    border: dotted;
    border-color: #c973e8;
    border-width: .2cm;
    font-family: 'Courier New', Courier, monospace;

  }

  h1{
    color: rgb(244, 90, 174);
    text-indent: 0%;
    
    
  }
  h2{
    color: rgb(244, 103, 181);
    text-indent: 0%;
    
  }
#content {
  background-color: rgb(213, 162, 255);
  text-indent: 20px
}
.navbar {
  overflow: hidden;
  background-color: rgb(195, 137, 208);
  font-family: 'Courier New', Courier, monospace;
}
.navbar a {
  float:left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: #6e00ae;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d4a8fa;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #cfb6ff;
  min-width: 160px;
  box-shadow:0px 8px 16px 0px #6e00ae;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{
  background-color:#d4a8fa;
}
.dropdown:hover .dropdown-content {
  display:block;
}