/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #6c054c;
    background-color: #b31489;
    font-family: 'Franklin Gothic Medium', 'Arial Nar', Arial, sans-serif;
    border: dotted; 
    border-width: .2cm;

  }

  h1{
    color: rgb(242, 36, 149);
  }

#content {
  background-color: rgb(242, 172, 242);

}
